/* 價格圖外圍大div */
.content {
    /*
        頂端列是脫標的 所以要往上距離50px 因為頂端列是50px
        然後想再距離頂端列10px 所以共60px
    */
    margin-top: 60px;

    /* 美觀 距離左右側15px 擬版心置中效果 */
    margin-left: 15px;
    margin-right: 15px;

    /* 美觀 字體調大一點 */
    font-size: 16px;

    border: 1px black solid;
}

/* 價格圖 */
.content img {
    width: 100%;
}

/* 動態偵測是否要加這個class */
.close {
    margin-top: 0px;

}